# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# pickles
*.pkl

# C extensions
*.so

# Distribution / packaging
*.egg-info
.coverage
htmlcov/

# generated docs
build/
viabel.*.rst

# ipython junk
.ipynb_checkpoints

# Mac OS junk
.DS_Store

# python virtual environments
*-env/
venv/
