# These are required for developing the package (running the tests, building
# the documentation) but not necessarily required for _using_ it.

# code coverage and testing
codecov
coverage
pytest
pystan==2.19.1.1

# lint
autoflake
flake8
isort
